{% extends sonata_block.templates.block_base %}

{% block block %}
    <div>
        <div>
            <div>
                {% if not block.setting('title') %}
                    <h2>{{ 'news.title' |trans }}</h2>
                {% else %}
                    <h2>{{ block.setting('title') }}</h2>
                {% endif %}
            </div>
        </div>

        <div>
            {% include AwaresoftSonataNewsBundle:Post/Helper:posts.html.twig %}
        </div>
    </div>
{% endblock %}